# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependências
node_modules/

# Arquivos de ambiente (Segurança)
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Dados da Aplicação (Não devem ser versionados)
sessions_data/
auth_info_rc_wa_api/
baileys_store.json

# Arquivos de Sistema
.DS_Store
Thumbs.db
